<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>text Search</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.5.2/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
  <main id="app">
    <div class="container m-3 flex flex-col justify-center items-center">
        <h3 class="text-red-600 font-bold text-3xl mb-3">Cari Teks Video Youtube</h3>
        <div class="mb-3">
          <input type="text" class="w-64 shadow border border-black-300 px-4 py-2 rounded url" v-model="url" placeholder="masukan url youtube..">
        </div>
  
        <div class="flex">
          <input type="text" class="shadow border border-black-300 px-4 py-2 rounded keyword" v-model="keyword" placeholder="masukan keyword..">
          <button class="bg-red-600 text-white shadow px-3 py-1 rounded ml-2 hover:bg-red-700" @click="bersihkan()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </div>
        <div v-if="errorKeyword" class="text-red-500 mt-1">{{ errorKeyword }}</div>
        <div class="mb-3 mt-3">
  
          <button @click="onFirstClick" :disabled="!pagination.first"
                  :class="!pagination.first
                          ? 'cursor-not-allowed bg-gray-200 text-gray-500 shadow px-3 py-1 rounded'
                          : 'bg-blue-600 text-white shadow px-3 py-1 rounded hover:bg-blue-700'"
          >first</button>
  
          <button @click="onPrevClick" :disabled="!pagination.prev"
                  :class="!pagination.prev
                          ? 'cursor-not-allowed bg-gray-200 text-gray-500 shadow px-3 py-1 rounded'
                          : 'bg-blue-600 text-white shadow px-3 py-1 rounded hover:bg-blue-700'"
          >prev</button>
  
          <button @click="onNextClick" :disabled="!pagination.next"
                  :class="!pagination.next
                          ? 'cursor-not-allowed bg-gray-200 text-gray-500 shadow px-3 py-1 rounded'
                          : 'bg-blue-600 text-white shadow px-3 py-1 rounded hover:bg-blue-700'"
          >next</button>
  
          <button @click="onLastClick" :disabled="!pagination.last"
                  :class="!pagination.last
                          ? 'cursor-not-allowed bg-gray-200 text-gray-500 shadow px-3 py-1 rounded'
                          : 'bg-blue-600 text-white shadow px-3 py-1 rounded hover:bg-blue-700'"
          >last</button>
        </div>
  
        <div v-if="pagination.total || pagination.page" class="mb-5">
          Total Hasil : {{ pagination.total }} | Halaman ke : {{ pagination.page }}
        </div>

        <ol v-if="result.length > 2" class="daftar bg-white p-4 rounded shadow-lg">
          <li class="leading-8" v-for="(hasil, index) in result" :key="index">
          {{ index + 1 }}. <span v-html="hasil.text"></span>
          <a class="text-blue-600 underline" :href="url + '&t=' + hasil.start + 's'" target="_blank">go to youtube</a>
          </li>
        </ol>

      <!-- <div class="my-3">
        <pre>{{ paginationString }}</pre>
      </div>
      <div class="mb-3">
        <pre>{{ resultString }}</pre>
      </div>
    </div> -->
  </div>
  </main>

  <script src="js/vue.min.js"></script>
  <script src="js/debounce.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        url: 'https://www.youtube.com/watch?v=klnvttPfOUM',
        keyword: '',
        result: [],
        errorKeyword: '',
        pagination: {
          first: null,
          prev: null,
          next: null,
          last: null,
          total: 0,
          page: null
        }
      },
      computed: {
        paginationString(){
          return JSON.stringify(this.pagination, null, 2)
        },
        resultString(){
          return JSON.stringify(this.result, null, 2)
        }
      },
      watch: {
        keyword : pDebounce(function (keyword) {
          this.search(keyword, this.url)
          console.log(this.keyword)
        }, 300)
      },
      methods: {
       async search(keyword, url, pagination){
        let link = `https://cari-teks-video-api.vercel.app/api/search?q=${keyword}&url=${encodeURIComponent(url)}`
        if(keyword){
          if(keyword.length < 3){
          this.errorKeyword = 'Keyword terlalu kecil, harus lebih dari 2'
          setTimeout(() => {
            this.errorKeyword = ''
          }, 2000);
          return null
        }else {
          this.errorKeyword = ''
          
        }
        }
        if(pagination){
          link = pagination
        }
        try{
          const response = await fetch(link).then(_res => {
            if(_res.ok){
              return _res.json()
            }else {
              return []
            }
          })
          this.result = response.data
          this.pagination.first = response.first
          this.pagination.prev = response.prev
          this.pagination.next = response.next
          this.pagination.last = response.last
          this.pagination.total = response.total
          this.pagination.page = response.page
        }catch(err){
          console.log('tidak di temukan')
        }
       },
       bersihkan(){
          // untuk membersihkan inputkan keyword
          this.keyword = ''
          this.result = []
        },
       onFirstClick(){
        // ketika tombol first di klik
        this.search(this.keyword, this.url, this.pagination.first)
       },
       onPrevClick(){
        // ketika tombol prev di klik
        this.search(this.keyword, this.url, this.pagination.prev)

       },
       onNextClick(){
        // ketika tombol next di klik
        this.search(this.keyword, this.url, this.pagination.next)
       },
       onLastClick(){
        // ketika tombol last di klik
        this.search(this.keyword, this.url, this.pagination.last)
       },
       
      }
    });
  </script>
</body>
</html>